.navigation--check {
  display: none;

  &:checked~.nav--background {
      transform: scale(50);
  }

  &:checked~.navigation__bar {
      span {
          background-color: transparent;

          &:after {
              top: 0;
              transform: rotate(-135deg);
          }

          &:before {
              top: 0;
              transform: rotate(135deg);
          }
      }
  }

  &:checked~.nav {
      opacity: 1;
      width: 100%;
      left: 0;
  }
}

.navigation__bar {
  position: fixed;
  display: none;
  top: 1.5rem;
  right: 6rem;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;

  span {
      width: 3rem;
      height: .2rem;
      background-color: #000;
      display: inline-block;
      margin-top: 3.5rem;
      margin-left: 2rem;
      transition: all .3s;
      position: relative;

      &:after,
      &:before {
          content: "";
          width: 3rem;
          height: .2rem;
          background-color: #000;
          display: block;
          position: absolute;
          transition: all .3s;
      }

      &:after {
          top: .8rem;
      }

      &:before {
          top: -.8rem
      }
  }

  &:hover span {
      width: 2rem;
  }
}

.navigation {
  .nav--background {
      position: fixed;
      display: none;
      top: 1.5rem;
      right: 6rem;
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      background-color: #483d8b;
      transform: scale(.5);
      transition: all .8s ease-in-out;
      z-index: 8;
  }

  .nav {
      width: 0;
      height: 100vh;
      position: fixed;
      top: 0;
      left: -10%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9;
      opacity: 0;
      transition: all .8s cubic-bezier(.68, -.55, .265, 1.55);

      &--ul {
          list-style: none;
          transition: all .3s;
      }

      &--li {
          font-size: 4rem;
          text-align: center;
          padding: 1rem;

          a {
              cursor: pointer;
              text-decoration: none;
              color: #fff;
              transition: all .3s;

              &:hover {
                  text-decoration: underline;
              }
          }
      }
  }
}